/* infobox frontpage */

div section article{
    color: white;
    width: 350px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}

div section img{
    margin: 2px;
    border: #FF6500 groove;
}

#crazy-ak{
    margin: 2px 60px;
}

#container{
    margin: 10px auto;
    width: 1200px;
    height: 1060px;
    background-color: #01244F;
    border-radius: 10px;
}
.frontpage-news{
    width: 370px;
    height: 500px;
    background-color: #01172F;
    margin: 10px;
    border-radius: 5px;
    border: #01244F groove;
}