/* footer */

footer{
    width: 1200px;
    height: 600px;
    background-color: #01244F;
    margin: 0 auto;
    border-radius: 10px;
}

footer a{
    margin: 2px;
}

footer ul{
    height: 580px;
    margin: 10px;
    background-color: #01172F;
    border-radius: 10px;
    width: 260px;
}

footer ul li{
    list-style-type: none;
    color: white;
    margin: 15px;
}

footer ul li a{
    font-size: 20px;
    color: lightcyan;
}

footer img{
    margin: 20px 10px;
    border-radius: 5px;
}

#fill{
    width: 150px;
    height: 100px;
}
/* alt til altmugligt */

body{
    background-color: #033976;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fr{
    float: right;
}

.fl{
    float: left;
}

.cb{
    clear: both;
}
