.movecenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.infobox1, .infobox2 {
    height: 400px;
    width: 340px;
    background-color: #01244F;
    margin: 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.infobox3 {
    height: 400px;
    width: 340px;
    background-color: #01244F;
    margin: 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
    
}

.movecenter2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.movecenter3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.movecenter4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.news-image {
    height: 16vh;
    padding: 2vh;
    border-radius: 25px;
    border: double;
    border-color: #FF6500;
}