body {
    background-color: #033976;
    font-family: comic sans ms;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

header{
    align-items: center;
    padding-top: 50px;
}

.movecenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.infobox1, .infobox2 {
    height: 400px;
    width: 340px;
    background-color: #01244F;
    margin: 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

img {
    height: 16vh;
    padding: 2vh;
    border-radius: 25px;
    border: double;
    border-color: #FF6500;
}

div {
    background-color: #033976;
    height: 500px;
    width: 1200px;
    padding-top: 30px;
    margin: auto;
}

.infobox3 {
    height: 400px;
    width: 340px;
    background-color: #01244F;
    margin: 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
    
}

.movecenter2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.movecenter3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.movecenter4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}